.button{
	 -fx-background-color: 
        #000000,
        linear-gradient(#333333, #222222),
        linear-gradient(#343434, #282828),
        linear-gradient(#333333, #222222);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 30 6 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.combo-box{

    -fx-focus-color: transparent;
}

.combo-down-arrow {
	-fx-background-color: red;
}

#comSet {
	-fx-background-color:rgb(34,34,34);
	-fx-padding: 20 20 20 20;
}

.label {
	-fx-text-fill: #DDD;
}